<div class="row">
  <h5>You can add as reify</h5>
  <div class="columns six">
    <ul>
      <li *ngFor="let friend of friendsObs | async | friends:user | alreadyFriend:user ">
        <span>{{ friend.firstName}}</span>
        <button href="#" (click)="addFriend(friend)" type="button">Add</button>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <h5>Already friends</h5>
  <div class="columns six">
    <ul>
      <li *ngFor="let friend of friendList">
        <span>{{ friend.firstName}}</span>
        <button href="#" (click)="removeFriend(friend)" type="button">Remove</button>
      </li>
    </ul>
  </div>
</div>
