<div class="row">
  <form (ngSubmit)="logUser()">
  <div class="six columns">
    <label for="username">Your email</label>
    <input class="u-full-width" autocomplete="off" name="userEmail" type="text" [(ngModel)]="userEmail" placeholder="user@service.com">
  </div>
  <div class="six columns">
    <label for="username">Your secret</label>
    <input class="u-full-width" name="password" type="password" [(ngModel])="password" />
  </div> 
  <button type="submit" class="button-primary" >Get alienated!</button>
</form>
</div>