<div class="row">
  <form #loginForm="ngForm" (ngSubmit)="logUser()">
  <div class="six columns">
    <label>Your email</label>
    <input name="login.email" class="u-full-width" autocomplete="off"
    type="text" [(ngModel)]="loginModel.email"
    placeholder="user@service.com">
  </div>
  <div class="six columns">
    <label>Your secret</label>
    <input name="password" class="u-full-width" [(ngModel)]="loginModel.password" type="password">
  </div>
  <button type="submit" class="button-primary" >Get alienated!</button>
</form>
</div>
